body{
    position: relative;
    padding-left: 10%;
    border: 2px solid yellow;
    /* height: 900px; */
    background-color: #D6F6E3
}

.parent-container{
    position: relative;
    width: 90%;
    background: blue;
    
}

.container{
    position: relative;
    /* right: 30px; */
    /* left: 10px; */
    top: 30px;
    width: 90%;
    height: 100%;
    /* background: yellow; */
    border: 2px solid yellow;
}

.description{
    position: relative;
    /* border: 10px solid rgb(161, 49, 49); */
    /* overflow: hidden; */
    /* justify-content: space-between; */
    
    /* display: inline-flexbox; */
}

.heading{
    position: relative;
  left: 100px;
  width: 50%;
}

button, select{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    /* border-style: none; */
    color: black;
    margin: 20px
}
input{
    width:70%;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    margin: 20px;
}

.drop-down1, .drop-down2, .drop-down3, .drop-down4{
  position: relative;
  left: 10px;
  display: flex;
  justify-content: space-between;  
  width: 57%;
  margin: 20px;

}

.drop-down2, .drop-down4{
    width: 45%;
    margin-left: 80px;
}

.first, .second {
color: black;
/* display: inline; */
position: relative;
left: 190px;
display: flex;
justify-content: space-between;
width: 58%;
margin-top: 35px;
/* border: 1px solid; */
}

.second{
    width: 50%;
    position: relative;
    left: 250px;
}

p.secondd, p{
    position: relative;
    left: 40px;
}

p.secondd{
    left: 25px;
}

hr{
    width:120px;
    border-bottom: 1px solid;
}

.second hr{
 width: 150px;
}

button{
    color: #ffffff;
    background: #2F4D00;
}

.button{
    display: flex;
    justify-content: center;
    position: relative;
    top: 1em;
}