*, *::before ,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* body{
    font-family: 'Poppins', sans-serif;
} */

.container{
    display: flex;
    flex-direction: column;
}

.top{
    /* border: 2px solid black; */
    display: flex;
}

.About{
/* border: 7px solid yellow; */
flex: 2;
display: flex;
flex-direction: column;
}

.navbar{
    /* background: tomato; */
    width: 70%;
    position: relative;
    left: 1em;
    top: 1em;
}

ul{
    display: flex;
    /* justify-content: space-around; */
}

li{
    list-style: none;
    margin: 1.2em;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    color:  #F64F06;
  }

.intro{
    /* border: 2px solid; */
    /* background: crimson; */
    width: 30em;
    height: 20em;
    position: relative;
    top: 9em;
    left: 10em;
}

.intro p{
    /* border: 1px solid; */
    width: 80%;
    position: relative;
    top: 1.5em;
}

.button button{
    position: relative;
    top: 4em;
    background: #2F4D00;
    color: #ffffff;
    font-size: 1em;
    width: 19em;
    height: 4em;
    border: none;
    border-radius: 1em;
    outline: none;
}

.top-image{
    /* background: chartreuse; */
    height: fit-content;
    /* flex: 1; */
}

#top-image{
    height: 40em;
}

.features h2{
    /* background: purple; */
    color: #F64F06;
    display: flex;
    justify-content: center;
}
.mid{
    /* background: blue; */
    /* border: 2px solid; */
    display: flex;
    justify-content: space-around;
    height: 40em;
}

.decor1, .decor3{
border: 0.0625em solid #F64F06;
height: 15em;
padding-top: 1.5em;
border-radius: 1em;
}

.image1, .image3{
position: relative;
left: 2em;
padding-top: 2em;
background: #ffffff;
box-shadow: 0em 1.25em 2.5em 0em #DEE0DC;
/* border: 2px solid brown; */
display: flex;
flex-direction: column;
border-radius: 0.7em;
align-items: center;
width: 15em;
height: 18em;
}    

.image1 img, .image3 img{
    height: 9em;
    width: 9em;
    /* position: relative;
    left: 1em; */
}

.decor2{
/* border: 1px solid pink; */
padding-top: 3.5em;
}

.image2{
background: #ffffff;
/* border: 2px solid brown; */
display: flex;
flex-direction: column;
/* justify-content: center; */
box-shadow: 0em 1.25em 2.5em 0em #DEE0DC;
border-radius: 0.7em;
align-items: center;
width: 20em;
height: 25em;
}

.image2 img{
height: 14em;
width: inherit;
}

.image2 p{
width: 70%;
/* padding-left: 1em; */
position: relative;
top: 2.5em;
}

.image1 p, .image2 p, .image3 p{
/* background: chartreuse; */
font-family: Poppins;
font-style: normal;
font-weight: 600;
text-align: center;
} 

.footer{
background: #2F4D00;
height: 45%;
/* border: 2px solid; */
}

.image-review{
position: relative;
left: 10em;
top: 2em;
/* border: 2px solid red; */
/* background: cornsilk; */
width: 61em;
display: flex;
/* justify-content: center; */
justify-content: space-around;
/* align-items: center; */
}

.image img{
height: 8em;
padding-right: 6em;
}

.review h2{
    /* background: rgb(85, 48, 22); */
    display: flex;
    justify-content: center;
    padding-bottom: 0.6em;
    
}

.review{
    position: relative;
    top: 1em;
    color: #ffffff;
}

.contact-details{
    display: flex;
    /* background: chartreuse; */
    justify-content: space-around;
    position: relative;
    top: 5em;
    height: 4em;
    color: #ffffff;
}

.apple-playstore{
    display: flex;
    /* background: white; */
    justify-content: space-between;
    width: 19em;
    position: relative;
    left: -7em;
}

.copyright{
    align-self: flex-end;
}

.apple button, .playstore button{
border-radius: 0.5em;
width: 11em;
height: 3.5em;
background: transparent;
color: #ffffff;
border: 1px solid#F64F06;
}

.fa-app-store-ios, .fa-google-play {
    color:  #F64F06;
    position: relative;
    top: 0.3em;
    right: 0.3em;
}

.mail{
    color:  #F64F06; 
}

/* @media (min-width:320px)  {  smartphones, iPhone, portrait 480x320 phones } */
@media (max-width: 600px) {
    .top{
        height: 100vh;
    }
    .top-image{
        display: none;
    }

    .intro{
        width: 70%;
        position: relative;
        left: 20%;
        height: auto;
        
    }

    .button button{
        position: relative;
        top: 4em;
        color: #ffffff;
        font-size: 0.6em;
        border: none;
    }

    .features{
        /* height: 1vh; */
    }
    .mid{
        display: flex;
        flex-direction: column;
        height: 90em;
        align-items: center;
        padding-bottom: 5em;
    }
    .decor1, .decor3{
        border: 0.0625em solid #F64F06;
        height: 15em;
        width: 15em;
        padding-top: 1.5em;
        border-radius: 1em;
        }
        
        .image1, .image3{
        position: relative;
        left: 2em;
        padding-top: 2em;
        background: #ffffff;
        box-shadow: 0em 1.25em 2.5em 0em #DEE0DC;
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        border-radius: 0.7em;
        align-items: center;
        width: 15em;
        height: 18em;
        }    
        
        .image1 img, .image3 img{
            height: 9em;
            width: 9em;
            /* position: relative;
            left: 1em; */
        }
        
        .decor2{
        /* border: 1px solid pink; */
        padding-top: 3.5em;
        }
        
        .image2{
        background: #ffffff;
        /* border: 2px solid brown; */
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        box-shadow: 0em 1.25em 2.5em 0em #DEE0DC;
        border-radius: 0.7em;
        align-items: center;
        width: 20em;
        height: 25em;
        }
        
        .image2 img{
        height: 14em;
        width: inherit;
        }
        
        .image2 p{
        width: 70%;
        /* padding-left: 1em; */
        position: relative;
        top: 2.5em;
        }
        
        .image1 p, .image2 p, .image3 p{
        /* background: chartreuse; */
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        text-align: center;
        } 
        
    .footer{
     width: 100%;
     height: 45%;
     /* background: yellow; */
     /* margin-top: 12em; */
    }
    .image-review{
        /* border: 2px solid yellow; */
        width: 90%;
        position: relative;
        left: 3em;
        height: 30%;
        font-size: 70%;
        /* height: 1em; */
        /* color: black; */
    }

    .review{
        color: black;
    }

    .contact-details{
        /* background: yellow; */
        width: 76%;
        position: relative;
        left: 7em;
        display: flex;
        justify-content: space-between;
        height: 4em;
        color: #ffffff;
        /* display: flex;
        flex-direction: column; */
    }

    .contact{
        font-size: 13px;
    }

.apple-playstore{
    /* background: greenyellow; */
    flex-direction: column;
    width: 25%;
    padding-left: 0.5em;
}

    .apple button, .playstore button{
        border-radius: 0.5em;
        width: 10em;
        height: 3em;
        font-size: 10px;
        }
        
        .fa-app-store-ios, .fa-google-play {
            color:  #F64F06;
            position: relative;
            top: 0.3em;
            right: 0.3em;
            font-size: 1em;
        }
        
        .mail{
            color:  #F64F06; 
            font-size: 10px;
        }
}

@media (max-width: 455px) {

    .contact-details{
        /* background: brown; */
        position: relative;
        top: 7em;
        /* padding-top: 5em; */
    }
}

/* @media (max-width:481px)  { portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  
  .container{
    width: 481px;
}  */

/* #top-image{
    display: none;
} */

/* .top { */
    /* width: 481px; */
    /* background: yellow; */
    /* flex-direction: column;*/
    /* height: 27em;
} */

/* .About{
    background: cornflowerblue; */
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
/* } */

/* .intro{
    border: 2px solid;
    background:purple;
    width: 15em;
    height: 18.5em;
    position: relative;
    top: 6em;
    left: 6em;
}

.intro p{
    border: 1px solid yellow;
    width: 80%;
    position: relative;
    top: 1.5em;
} */

/* .button button{
    position: relative;
    top: 2.5em;
    background: #2F4D00;
    color: #ffffff;
    font-size: 1em;
    width: 10em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
}

.mid{
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 90em;
} */

/* .decor1, .decor3{
    border: 0.0625em solid #F64F06;
    height: 15em;
    width: 15em;
    padding-top: 1.5em;
    border-radius: 1em;
    }

    .decor2{
        border: 1px solid pink;
        padding-top: 3.5em;
        width: 20em;
        }
     */
    /* .image1, .image3{
    position: relative;
    left: 2em;
    padding-top: 2em;
    background: #ffffff;
    box-shadow: 0em 1.25em 2.5em 0em #DEE0DC;
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
    border-radius: 0.7em;
    align-items: center;
    width: 15em;
    height: 18em;
    }     */
    
    /* .image1 img, .image3 img{
        height: 9em;
        width: 9em; */
        /* position: relative;
        left: 1em; */
    /* } */
    

/* } */
/* @media (min-width:641px)  { portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones } */
/* @media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops } */
/* @media (min-width:1025px) { big landscape tablets, laptops, and desktops } */
/* @media (min-width:1281px) { hi-res laptops and desktops } */
