*, *::before ,*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #ffffff;
}

.parent{
    /* background: green; */
    height: 95%;
    display: flex;
    justify-content: center;
    padding-top: 3em;
}

.container{
    /* background: blue; */
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading{
/* background: grey; */
width: 20%;
display: flex;
justify-content: center;
}

.illustration{
    /* background: yellow; */
    height: 60%;
    width: 40%;
}

.prompt{
    /* background: rgb(216, 35, 35); */
    color: #13CE4D;

    padding-top: 0.5em;
}

.tips{
    /* background: greenyellow; */
    padding-top: 1.5em;
    padding-left: 5em;
    height: 25%;
    width: 30%;
}

ul{
    padding-top: 0.5em;
    padding-left: 1.5em;
    background: white;
    color: #13CE4D;
    ;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    padding-top: 0.8em;
    width: 20%;
    position: relative;
    left: 2em;
}

button{
    width: 90%;
    height: 3em;
    background: #2F4D00;
    border-radius: 1em;
    color: #ffffff;
    border: none;
}

img{
    height: 100%;
    width: 100%;
}

@media (max-width: 600px){
    .tips{
        width: 60%;
        padding-left: 1em;
    }

    .heading{
        width: 50%;
        }

    .illustration{
        width: 80%;
    }

    .button{
        padding-top: 0em;
        padding-bottom: 1em;
        width: 40%;
    }
}

@media (max-width: 320px){
    .button{
        padding-top: 2em;
        padding-bottom: 1em;
    }
    .illustration{
        width: 80%;
    }
    .heading{
        width: 60%;
        }
        .button{
            
            /* padding-bottom: 1em; */
            width: 50%;
        }
        
}